checkpoints/*
aligner_cache/*
inputs_cache/*
.vscode/*
sherpa-onnx/*
telegram_bot-api/*
logs/bot.log
__pycache__/*
configs/bot.yaml
*.binlog
data/*
configs/debug_bot.yaml
configs/prod_bot.yaml
1469255058:AAEB8ZdMIcFLKlDdMwHtzW2aIa_sTmnA7zE/*
**.wav
**.mp4
**.srt
server_data/*
